<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	title Document
	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600&amp;subset=cyrillic')
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
	link(rel='stylesheet', href='css/bootstrap.css')
	link(rel='stylesheet', href='css/libs.min.css')
	link(rel='stylesheet', href='css/main.css')
body

	script(src='js/libs.min.js')
	script(src='js/common.js')